/* Styles */
body, div, ul, li, a, h1, h2, h3, h4, h5 {
  font-family: 'jaf-bernina-sans', Sans;
  font-weight: 400;
}

.navbar {
  padding: 10px 0 10px 0;
}

.navbar-default {
  background-color: #fff;
}

/*
  ------------- HEADER -------------
*/

#apm-navbar-brand-title {
  font-weight: 700;
  font-size: 20px;
  color: rgb(170, 126, 172);
}

.navbar-default .navbar-nav>li>a {
  color: #C2BFBF;
}

.navbar-default .navbar-nav>li .selected-link {
  color: #000;
  font-weight: 700;
}

/*
  ------------- HOME --------------
*/

#intro h1 {
  font-weight: 900;
  font-size: 2.5em;
  line-height: 50px;
  margin: 20px 0 0 0;
  color: rgb(70, 70, 70);
  text-align: center;
  pointer-events: none;
}

#intro h2 {
  font-weight: 400;
  font-size: 1.5em;
  line-height: 1.3;
  margin: 10px 0 0 0;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  pointer-events: none;
}

#intro .video {
  position: relative;
  margin-top: 30px;
}

#intro .video img {
  width: 100%;
}

#intro .video iframe {
  position: absolute;
  top: 7.4%;
  left: 14.3%;
  width: 71.2%;
  height: 78.8%;
}

#testimonials .media {
  margin-top: 30px;
}

#testimonials a.quote {
  color: rgb(50, 50, 50);
  font-size: 13px;
}

#testimonials a.quote:hover {
  text-decoration: none;
}

#testimonials .media-object {
  border-radius: 50%;
}

#testimonials .media-heading {
  display: block;
  margin-top: 0.5em;
  font-size: 1em;
  font-weight: 900;
  pointer-events: none;
}

#testimonials .media-heading a {
  color: rgb(50, 50, 50);
  pointer-events: auto;
}

.connect {
  margin: 30px 0;
  text-align: center;
}

.connect a.btn {
  width: 40%;
  margin: 0 auto;
  transition: all 0.5s;
}

.connect a.btn:hover {
  transform: translateY(-10px);
  -webkit-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
  -o-transform: translateY(-10px);
}

#features {
  margin-top: 30px;
}

#features h1 {
  font-weight: normal;
  font-size: 3em;
  line-height: 50px;
  margin: 40px 0 40px 0;
  color: rgb(70, 70, 70);
  text-align: center;
  pointer-events: none;
}

.feature {
  padding-top: 30px;
  padding-bottom: 30px;
}

.feature h2 {
  font-weight: 900;
  font-size: 2.5em;
  line-height: 50px;
  color: rgb(70, 70, 70);
  text-align: center;
  border-bottom: 5px solid;
  pointer-events: none;
}

.feature p {
  font-weight: 400;
  font-size: 1.5em;
  line-height: 1.3;
  text-align: justify;
  margin: 10px 0 0 0;
  -webkit-font-smoothing: antialiased;
  pointer-events: none;
}

.feature img {
  display: block;
  max-width: 100%;
  margin: 0.5em auto;
  padding: 0.5em;
  background: rgb(255, 255, 255);
  border: 1px solid rgba(220, 220, 220, 0);
  box-sizing: border-box;
  transition: all 0.3s;
  pointer-events: none;
}

/*
  --------------- POST LISTS -------------------
*/

.post-list-item {
  -webkit-font-smoothing: antialiased;
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.post-list-item h2 {
  margin: 0px;
  padding: 0px;
  margin-bottom: 10px;
}

.post-list-item .link {
  color: #555;
  font-weight: 700;
  font-size: 26px;
}

.post-list-item .link:hover {
  text-decoration: none;
  color: #222;
}

.post-list-item .date, .post-list-item .who {
  color: #888;
  font-size: 15px;
  font-weight: 600;
}

.post-list-item .who a{
  color: #888;
  border-bottom: 1px solid #ddd;
}

.post-list-item .who a:hover{
  text-decoration: none;
}

.post-list-item .summery {
  color: #333332;
  margin-top: 10px;
  font-size: 19px;
  font-family: "freight-text-pro",Georgia,Cambria,"Times New Roman",Times,serif;
  letter-spacing: .01rem;
  font-weight: 400;
  line-height: 1.5;
}


/*
  ---------------- POST ----------------
*/

.post {
  -webkit-font-smoothing: antialiased;
}

.post h1 {
  font-weight: 700;
  font-size: 35px;
  line-height: 1.2;
}

.post h2 {
  font-weight: 700;
  font-size: 27px;
  color: #444;
  margin: 20px 0;
  line-height: 1.2;
}

.post h3 {
  font-weight: 700;
  font-size: 23px;
  color: #444;
  margin: 20px 0;
  line-height: 1.2;
}

.post h4 {
  font-weight: 700;
  font-size: 19px;
  text-decoration: underline;
  color: #444;
  margin: 20px 0;
  line-height: 1.2;
}

.post pre {
  padding: 0px;
}

.post code {
  border: 1px solid rgb(255, 244, 244);
  font-size: 14px;
  font-weight: bold;
}

.post pre code {
  padding: 15px;
  border: 0px;
}

.post a code {
  border: 1px solid rgb(250, 179, 182);
}

.post img,
.post embed,
.post object,
.post iframe {
  max-width: 100%;
  margin: 20px 0;
}

.post a code:hover {
  cursor: pointer;
  background-color: #fff;
}

.post a:hover {
  text-decoration: none;
}

.post .date, .post .who {
  color: #888;
  font-size: 15px;
  font-weight: 600;
}

.post .who a{
  color: #888;
  border-bottom: 1px solid #ddd;
}

.post .who a:hover{
  text-decoration: none;
}

.post .content {
  margin-top: 30px;
  color: #333332;
}

.post .content li,
.post .content p {
  font-family: "freight-text-pro",Georgia,Cambria,"Times New Roman",Times,serif;
  letter-spacing: .01rem;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
}

.post .content a {
  font-family: "freight-text-pro",Georgia,Cambria,"Times New Roman",Times,serif;
}

.post blockquote {
  border-style: solid;
  border-color: rgba(111,186,135,1);
  border-width: 0px 0px 0px 5px;
  line-height: 28px;
  font-size: 20px;
}


/*
  ------------------ FOOTER ---------------------
*/

footer.navbar {
  margin-bottom: 0;
}

/*
  ----------------- COMMENTS --------------------
*/

.comments {
  border-top: 1px solid #eee;
  padding: 20px 0px 10px 0px
}

/*
  ---------------- BUTTONS -------------------------
*/

.btn-subscribe {
  outline: 0;
  background-color: rgb(252, 255, 249);
  border: 2px solid rgb(164, 221, 141);
  min-width: 150px;
  font-weight: 700;
  font-size: 15px;
  color: #666;
  -webkit-font-smoothing: antialiased;
}

.btn-subscribe:hover {
  outline: 0;
  background-color: #fff;
  border: 2px solid rgb(164, 221, 141);
  color: #666;
  -webkit-font-smoothing: antialiased;
}
