/* Styles */
body, div, ul, li, a, h1, h2, h3, h4, h5 {
  font-family: 'jaf-bernina-sans', Sans;
  font-weight: 400;
}

.navbar {
  padding: 10px 0 10px 0;
}

.navbar-default {
  background-color: #fff;
}

/*
  ------------- HOME --------------
*/

.home img {
  width: 80%;
  border: 1px solid #ddd;
  -webkit-box-shadow: 0px 6px 16px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    0px 6px 16px 0px rgba(50, 50, 50, 0.75);
  box-shadow:         0px 6px 16px 0px rgba(50, 50, 50, 0.75);
}

.home {
  text-align: center;
}

.home h1 {
  font-weight: 900; 
  font-size: 60px;
  line-height: 50px;
  margin: 20px 0 0 0;
  color: rgb(113, 0, 76);
}

.home h2 {
  font-weight: 400; 
  font-size: 25px;
  margin: 10px 0 30px 0;
  -webkit-font-smoothing: antialiased;
}

.home form {
  margin: 30px 0 30px 0;
}

.home input {
  margin: 0;
  outline: 0;
}

.home .email {
  width: 300px;
  padding: 5px 10px 5px 10px;
  font-size: 16px;
  color: #555;
  border: 1px solid #E2CEF0;
}

.home .submit {
  padding: 5px 10px 5px 10px;
  font-size: 16px;
  color: #FFF;
  border: 1px solid #ddd;
  font-weight: 600;
  background-color: rgb(93, 27, 118);
}

/*
  --------------- POST LISTS -------------------
*/

.post-list-item {
  -webkit-font-smoothing: antialiased;
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.post-list-item h2 {
  margin: 0px;
  padding: 0px;
}

.post-list-item .link {
  color: #555;
  font-weight: 700;
  font-size: 26px;
}

.post-list-item .link:hover {
  text-decoration: none;
  color: #222;
}

.post-list-item .date, .post-list-item .who {
  color: #888;
  font-size: 15px;
  font-weight: 600;
}

.post-list-item .who a{
  color: #888;
  border-bottom: 1px solid #ddd;
}

.post-list-item .who a:hover{
  text-decoration: none;
}

.post-list-item .summery {
  margin-top: 10px;
  font-size: 19px;
  font-family: "freight-text-pro",Georgia,Cambria,"Times New Roman",Times,serif;
  letter-spacing: .01rem;
  font-weight: 400;
  line-height: 1.5;
}


/* 
  ---------------- POST ----------------
*/

.post {
  -webkit-font-smoothing: antialiased;
}

.post h1 {
  font-weight: 700;
  font-size: 35px;
  color: #444;
}

.post h2 {
  font-weight: 700;
  font-size: 30px;
  color: #444;
  margin: 20px 0;
}

.post h3 {
  font-weight: 700;
  font-size: 25px;
  color: #444;
  margin: 20px 0;
}

.post h4 {
  font-weight: 700;
  font-size: 19px;
  text-decoration: underline;
  color: #444;
  margin: 20px 0;
}

.post code {
  color: #E94256;
  background-color: transparent;
  border: 1px solid rgb(255, 244, 244);
  font-size: 16px;
}

.post pre code {
  border: 0px;
}

.post a code {
  border: 1px solid rgb(250, 179, 182);
}

.post img,
.post embed,
.post object,
.post iframe {
  max-width: 100%;
}

.post a code:hover {
  cursor: pointer;
  background-color: #fff;
}

.post a:hover {
  text-decoration: none;
}

.post .date, .post .who {
  color: #888;
  font-size: 15px;
  font-weight: 600;
}

.post .who a{
  color: #888;
  border-bottom: 1px solid #ddd;
}

.post .who a:hover{
  text-decoration: none;
}

.post .content {
  margin-top: 30px;
  color: #333;
}

.post .content li,
.post .content p {
  color: rgb(51, 51, 50);
  font-family: "freight-text-pro",Georgia,Cambria,"Times New Roman",Times,serif;
  letter-spacing: .01rem;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
} 

.post .content a {
  font-family: 'ff-tisa-web-pro', Sans;
}

.post blockquote {
  border-style: solid;
  border-color: rgba(111,186,135,1);
  border-width: 0px 0px 0px 5px;
  line-height: 28px;
  font-size: 20px;
}


/*
  ----------------- COMMENTS --------------------
*/

.comments {
  border-top: 1px solid #eee;
  padding: 20px 0px 10px 0px
}

/* 
  ---------------- BUTTONS -------------------------
*/

.btn-subscribe {
  outline: 0;
  background-color: rgb(246, 255, 242);
  border: 1px solid rgb(210, 228, 215);
  width: 150px;
  font-weight: 700;
  font-size: 15px;
  color: #666;
}

.btn-subscribe:hover {
  background-color: white;
  border: 1px solid rgb(210, 228, 215);
  color: #666;
}