/* Styles */
body, div, ul, li, a, h1, h2, h3, h4, h5 {
  font-family: 'jaf-bernina-sans', Sans;
  font-weight: 400;
}

.navbar {
  padding: 10px 0 10px 0;
}

.navbar-default {
  background-color: #fff;
}

/*
  ------------- HEADER -------------
*/

#apm-navbar-brand-title {
  font-weight: 600;
  font-size: 25px;
  color: #424141;
  padding-top: 16px;
  font-family: 'source-sans-pro', Sans;
  -webkit-font-smoothing: antialiased;
}

.navbar-default .navbar-nav>li>a {
  color: #C2BFBF;
}

.navbar-default .navbar-nav>li .selected-link {
  color: #000;
  font-weight: 700;
}

#toplink-login {
  border: 1px solid rgb(190, 190, 190);
  border-radius: 3px;
  padding: 5px 15px;
  margin-top: 9px;
  color: #535353;
  background-color: #fff;
}

#toplink-login:hover {
  background-color: #F0F0F0;
}

/*
  ------------- HOME --------------
*/

#intro {
  margin: 50px 0;
  text-align: center;
}

#intro h1 {
  font-weight: 900;
  font-size: 2.5em;
  line-height: 50px;
  color: rgb(70, 70, 70);
  -webkit-font-smoothing: antialiased;
  pointer-events: none;
}

#intro h2 {
  font-weight: 400;
  font-size: 1.5em;
  line-height: 1.3;
  margin: 10px 0 0 0;
  -webkit-font-smoothing: antialiased;
  pointer-events: none;
}

#intro img {
  width: 100%;
  margin: 25px 0 0 0;
  transition: all 0.3s;
}

#intro img:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
}


/*
  --------------- HOMEPAGE - BENEFITS -------------------
*/


.homepage-benefit {
  text-align: center;
}

.homepage-benefit.purple {
  color: white;
  background: rgb(60, 50, 95);
}

.homepage-benefit.purple img {
  background: white;
}

.homepage-benefit.darkgrey {
  color: white;
  background: rgb(15, 20, 30);
}

.homepage-benefit.darkgrey img {
  background: white;
}

.homepage-benefit .description:before,
.homepage-benefit .images:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em; /* Adjusts for spacing */
}

.homepage-benefit .description,
.homepage-benefit .images {
  display: inline-block;
  vertical-align: middle;
}

.homepage-benefit .description.ghost,
.homepage-benefit .images.ghost {
  width: 0%;
}

.homepage-benefit .description {
  width: 39%;
  text-align: left;
  -webkit-font-smoothing: antialiased;
}

.homepage-benefit .description.full {
  width: 60%;
  text-align: center;
  -webkit-font-smoothing: antialiased;
}

.homepage-benefit .description img {
  width: 100%;
  margin: 5px;
}

.homepage-benefit .images {
  width: 59%;
  position: relative;
}

.homepage-benefit.equal .description,
.homepage-benefit.equal .images {
  width: 49%;
}

.homepage-benefit.reverse .description {
  width: 59%;
}

.homepage-benefit.reverse .images {
  width: 39%;
}

.homepage-benefit .images img.front {
  position: absolute;
  width: 100%;
  bottom: 15%;
  left: 50%;
  z-index: 20;
  opacity: 1;
  transition: all 0.2s;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
}

.homepage-benefit .images img.back {
  position: absolute;
  height: 80%;
  bottom: 15%;
  left: 50%;
  z-index: 10;
  opacity: 0.5;
  transition: all 0.3s;
  transform: translateX(-50%) scale(0.8);
  -webkit-transform: translateX(-50%) scale(0.8);
}

.homepage-benefit .images img.single {
  position: absolute;
  width: 95%;
  padding: 5px;
  margin: 2.5%;
  top: 50%;
  left: 50%;
  z-index: 10;
  border: 1px solid rgb(200, 200, 200);
  transition: all 0.3s;
  transform: translateX(-50%) translateY(-50%) scale(1);
  -webkit-transform: translateX(-50%) translateY(-50%) scale(1);
}

.homepage-benefit .images:hover img.front {
  opacity: 0;
  transform: translateX(-50%) translateY(50px) scale(1.2);
  -webkit-transform: translateX(-50%) translateY(50px) scale(1.2);
}

.homepage-benefit .images:hover img.back {
  opacity: 1;
  transform: translateX(-50%) scale(1);
  -webkit-transform: translateX(-50%) scale(1);
}

/*
  --------------- POST LISTS -------------------
*/

.post-list-item {
  -webkit-font-smoothing: antialiased;
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.post-list-item h2 {
  margin: 0px;
  padding: 0px;
  margin-bottom: 10px;
}

.post-list-item .link {
  color: #555;
  font-weight: 700;
  font-size: 26px;
}

.post-list-item .link:hover {
  text-decoration: none;
  color: #222;
}

.post-list-item .date, .post-list-item .who {
  color: #888;
  font-size: 15px;
  font-weight: 600;
}

.post-list-item .who a{
  color: #888;
  border-bottom: 1px solid #ddd;
}

.post-list-item .who a:hover{
  text-decoration: none;
}

.post-list-item .summery {
  color: #333332;
  margin-top: 10px;
  font-size: 19px;
  font-family: "freight-text-pro",Georgia,Cambria,"Times New Roman",Times,serif;
  letter-spacing: .01rem;
  font-weight: 400;
  line-height: 1.5;
}


/*
  ---------------- POST ----------------
*/

.post {
  -webkit-font-smoothing: antialiased;
}

.post h1 {
  font-weight: 700;
  font-size: 35px;
  line-height: 1.2;
}

.post h2 {
  font-weight: 700;
  font-size: 27px;
  color: #444;
  margin: 20px 0;
  line-height: 1.2;
}

.post h3 {
  font-weight: 700;
  font-size: 23px;
  color: #444;
  margin: 20px 0;
  line-height: 1.2;
}

.post h4 {
  font-weight: 700;
  font-size: 19px;
  text-decoration: underline;
  color: #444;
  margin: 20px 0;
  line-height: 1.2;
}

.post pre {
  padding: 0px;
}

.post code {
  border: 1px solid rgb(255, 244, 244);
  font-size: 14px;
  font-weight: bold;
}

.post pre code {
  padding: 15px;
  border: 0px;
}

.post a code {
  border: 1px solid rgb(250, 179, 182);
}

.post img,
.post embed,
.post object,
.post iframe {
  max-width: 100%;
  margin: 20px 0;
}

.post a code:hover {
  cursor: pointer;
  background-color: #fff;
}

.post a:hover {
  text-decoration: none;
}

.post .date, .post .who {
  color: #888;
  font-size: 15px;
  font-weight: 600;
}

.post .who a{
  color: #888;
  border-bottom: 1px solid #ddd;
}

.post .who a:hover{
  text-decoration: none;
}

.post .content {
  margin-top: 30px;
  color: #333332;
}

.post .content li,
.post .content p {
  font-family: "freight-text-pro",Georgia,Cambria,"Times New Roman",Times,serif;
  letter-spacing: .01rem;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
}

.post .content a {
  font-family: "freight-text-pro",Georgia,Cambria,"Times New Roman",Times,serif;
}

.post blockquote {
  border-style: solid;
  border-color: rgba(111,186,135,1);
  border-width: 0px 0px 0px 5px;
  line-height: 28px;
  font-size: 20px;
}


/*
  ------------------ FOOTER ---------------------
*/

footer.navbar {
  margin-bottom: 0;
}

/*
  ----------------- COMMENTS --------------------
*/

.comments {
  border-top: 1px solid #eee;
  padding: 20px 0px 10px 0px
}

/*
  ---------------- BUTTONS -------------------------
*/

.btn-subscribe {
  outline: 0;
  background-color: rgb(252, 255, 249);
  border: 2px solid rgb(164, 221, 141);
  min-width: 150px;
  font-weight: 700;
  font-size: 15px;
  color: #666;
  -webkit-font-smoothing: antialiased;
}

.btn-subscribe:hover {
  outline: 0;
  background-color: #fff;
  border: 2px solid rgb(164, 221, 141);
  color: #666;
  -webkit-font-smoothing: antialiased;
}
