<footer id="footer" class="navbar navbar-default" role="banner">
  <div class='container'>
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".apm-navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <nav class='collapse navbar-collapse apm-navbar-collapse clearfix' role='navigation'>
      <ul class="nav navbar-nav pull-right">
        {% for page in site.data.footerlinks %}
          <li><a href="{{page.link}}">{{page.caption}}</a></li>
        {% endfor %}
      </ul>
    </nav>
  </div>
</footer>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-48364339-1', 'kadira.io');
  ga('send', 'pageview');
</script>

<script>
  pH.add('.full-page');

  pH.add('.half-page', function (h) {
    return Math.round(h/2);
  });

  pH.add('.full-page-wo-header', function (h) {
    var header = document.getElementById('header');
    return Math.round(h - header.getBoundingClientRect().height);
  });

  pH.add('.full-page-wo-header-footer', function (h) {
    var header = document.getElementById('header');
    var footer = document.getElementById('footer');
    return Math.round(h - header.getBoundingClientRect().height - footer.getBoundingClientRect().height);
  });
</script>
