<header id="header" class="navbar navbar-default" role="banner">
  <div class='container'>
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".apm-navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" id='apm-navbar-brand-title' href="/">Meteor APM</a>
    </div>
    <nav class='collapse navbar-collapse apm-navbar-collapse clearfix' role='navigation'>
      <ul class="nav navbar-nav pull-right">
        {% for page in site.data.links %}
          {%if page_type == page.type %}
            <li><a class="selected-link" href="{{page.link}}">{{page.caption}}</a></li>
          {%else%}
            <li><a href="{{page.link}}">{{page.caption}}</a></li>
          {%endif%}
        {% endfor %}
      </ul>
    </nav>
  </div>
</header>