<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>{{head_title}}</title>

<!-- Our CSS -->
<link rel="stylesheet" type="text/css" href="/vendor/bootstrap/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="/css/style.css" />
<link rel="stylesheet" href="/vendor/highlight/styles/zenburn.css">

<!-- jQuery -->
<script type="text/javascript" src='/vendor/jquery/jquery.min.js'></script>

<!-- Typekit fonts -->
<script type="text/javascript" src="//use.typekit.net/ypr5vji.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>

<!-- Highlight JS -->
<script 
  type="text/javascript" 
  src='/vendor/highlight/highlight.pack.js'
  onload='hljs.initHighlightingOnLoad();'
  async>
</script>

<!-- Page Height JS -->
<script src="/scripts/init.js"></script>

<script type="text/javascript">
  var trackSignUpClick = function(url, page, where) {
    // prevent tracking on the devlopment
    if(location.href.match(/localhost/)) return true;
     ga('send', 'event', 'signup', page, where, {'hitCallback':
       function () {
         document.location = url;
       }
     });
     return false;
  }
</script>
