<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>{{head_title}}</title>

<!-- jQuery -->
<script type="text/javascript" src='/vendor/jquery/jquery.min.js'></script>

<!-- bootstrap -->
<link rel="stylesheet" type="text/css" href="/vendor/bootstrap/css/bootstrap.min.css" />
<script type="text/javascript" src='/vendor/bootstrap/js/bootstrap.min.js'></script>

<!-- Typekit fonts -->
<script type="text/javascript" src="//use.typekit.net/ypr5vji.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>

<!-- Highlight JS -->
<link rel="stylesheet" href="/vendor/highlight/styles/zenburn.css">
<script type="text/javascript" src='/vendor/highlight/highlight.pack.js'></script>
<script>hljs.initHighlightingOnLoad();</script>

<!-- Our CSS -->
<link rel="stylesheet" type="text/css" href="/css/style.css" />