<header class="navbar navbar-default" role="banner">
  <div class='container'>
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".mh-navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" id='apm-navbar-brand-title' href="/">Meteor APM</a>
    </div>
    <nav class='collapse navbar-collapse apm-navbar-collapse clearfix' role='navigation'>
      <ul class="nav navbar-nav pull-right">
        <li><a href="http://support.meteorapm.com/knowledgebase">Docs</a></li>
        <li><a href="/blog">Blog</a></li>
        <li><a href="/academy">Academy</a></li>
        <li><a href="http://support.meteorapm.com/forums/224274-general">Support</a></li>
      </ul>
    </nav>
  </div>
</header>