<div class="post">
  <h1>{{page.title}}</h1>
  <div>
    {% if page.author %}
      <span class="who">by 
        <a href="{{page.author.profile}}">{{page.author.name}}</a>
      </span>
    {% else %}
      <span class="who">by 
        <a href="https://twitter.com/arunoda">arunoda</a>
      </span>
    {% endif %}

    {% if only_title == "true" %}
      
    {% else %}
      <span class="date">{{page.date | date: "%B %d, %Y"}}</span>
    {% endif %}
  </div>

  <div class="content">
    {{content}}
  </div>
</div>
