<div id="promo-bulletproof-meteor">
  <div class="bulletproof-meteor-intro">
    Learn How to Build<br>
    <span class="bold">Fast and Efficient</span><br>
    Meteor Apps
  </div>

  <div class="bulletproof-meteor-apps">
    <p>Most of these techniques have been used to build</p>
    <div class="bulletproof-meteor-app-logos">
      <a href="http://www.edthena.com">
        <img src="/images/bulletproof-meteor/edthena.png">
      </a>
      <a href="https://kadira.io">
        <img src="/images/bulletproof-meteor/kadira.png">
      </a>
      <a href="http://knotable.com">
        <img src="/images/bulletproof-meteor/knotable.png">
      </a>
      <a href="https://beta.workpop.com">
        <img src="/images/bulletproof-meteor/workpop.png">
      </a>
      <a href="http://www.classcraft.com">
        <img src="/images/bulletproof-meteor/classcraft.png">
      </a>
    </div>
    <p>and many other <strong>production</strong> Meteor apps</p>
  </div>

  <div class="bulletproof-meteor-start">
    <div>
      <a href="https://bulletproofmeteor.com/basics/introduction/?utm_source=kadira&utm_medium=banner&utm_term=kadira&utm_content=homepage&utm_campaign=kadira" id="start-learning" class="btn btn-start">
        Start Learning Now
      </a>
    </div>
  </div>

  <br>
</div>
