<!DOCTYPE html>
<html lang='en'>
<head>
  {% assign head_title = "Meteor APM Academy" %}
  {% include head.html %}
</head>
<body>
  <!-- Header Area -->
  {% assign page_type = "academy" %}
  {% include header.html %}

  <div id="content" class='col-md-7 col-md-offset-2 blog-home'>
    <a href="http://mad.ly/signups/106626/join" class="btn btn-subscribe">
      Subscribe to Academy
    </a>
    <div style="margin-top: 40px">
      {% assign only_title = "true" %}
      {% assign post_list = site.data.academy %}
      {% include post_list.html %}
    </div>
  </div>

  <div class="clearfix"></div>

  {% include footer.html %}
</body>
</html>