<!DOCTYPE html>
<html lang='en'>
<head>
  {% assign head_title = page.title | append: " - Meteor APM Blog" %}
  {% include head.html %}
</head>
<body>
  <!-- Header Area -->
  {% assign page_type = "blog" %}
  {% include header.html %}

  <div id="content" class='col-md-7 col-md-offset-2 post'>
    <a href="http://mad.ly/signups/106624/join" class="btn btn-subscribe">
      Subscribe to Blog
    </a>
    <div style="margin: 40px 0 20px 0">
      {% include post.html %}
    </div>
    <a href="http://mad.ly/signups/106624/join" class="btn btn-default btn-subscribe">
      Subscribe to Blog
    </a>
    <div style="margin-top: 40px">
      {% include comments.html %}
    </div>
  </div>

  <div class="clearfix"></div>

  {% include footer.html %}
</body>
</html>