<!DOCTYPE html>
<html lang='en'>
<head>
  <meta name="description" content="Kadira - Performance Monitoring for Meteor" />
  {% assign head_title = "Kadira - Performance Monitoring for Meteor" %}
  {% include head.html %}
</head>
<body>
  <!-- Header Area -->
  {% include header.html %}

  <div class="container">
    <div id="intro" class="row">
      <h1>See What's Happening Inside Your Meteor App</h1>
      <h2>Then Apply Fixes with our Recommendations and Guides</h2>
      <div class="video col-xs-12 col-md-10 col-md-offset-1">
        <img src="css/mba.png">
        <iframe width="704" height="441" src="//www.youtube-nocookie.com/embed/xXUjpHHfTLY?rel=0&theme=dark&showinfo=0&modestbranding=1&controls=2&iv_load_policy=3" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>

    <div id="testimonials">
      <div class="col-md-4">
        <div class="media">
          <a class="pull-left" href="/blog/user-stories-denis-gorbachev/">
            <img src="/images/faces/denis_gorbachev.jpg" alt="" class="media-object">
          </a>
          <div class="media-body">
            <a class="quote" href="/blog/user-stories-denis-gorbachev/">I was able to reduce Pintask's response time from 4 seconds to 1 second with the finding from Kadira</a>
            <h4 class="media-heading">Denis Gorbachev @ <a href="https://pintask.me/">PinTask</a></h4>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="media">
          <a class="pull-left" href="/blog/user-stories-chris-doe/">
            <img src="/images/faces/chris_doe.png" alt="" class="media-object">
          </a>
          <div class="media-body">
            <a class="quote" href="/blog/user-stories-chris-doe/">Kadira saved a lot of time when developing the CareNoteBook because it told us where we need to optimize!</a>
            <h4 class="media-heading">Chris Doe@ <a href="https://thecarenotebook.com/">The CareNoteBook</a></h4>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="media">
          <a class="pull-left" href="/blog/user-stories-brent-abrahams">
            <img src="/images/faces/brent_abrahams.png" alt="" class="media-object">
          </a>
          <div class="media-body">
            <a class="quote" href="/blog/user-stories-brent-abrahams">Kadira gave me a heads-up a couple of days ago that one of my servers was in trouble.</a>
            <h4 class="media-heading">Brent Abrahams @ <a href="http://www.standbench.com/">Standbench</a></h4>
          </div>
        </div>
      </div>

      <div class="clearfix"></div>
    </div>

    <div class="connect row">
      <a href="https://ui.kadira.io/sign-up" class="btn btn-signup btn-lg">
        Connect Your App<br>
        <small>(It's Free Forever)</small>
      </a>
    </div>

    <hr>

    <div id="features" class="row">
      <h1>Benefits of using Kadira</h1>

      <div id="recommendation-system" name="recommendation-system" class="feature col-md-8 col-md-offset-2 panel">
        <h2>Make your apps faster</h2>
        <p>Our recommendation system will tell you which methods and publications you should focus on to improve response times.</p>
        <img src="images/features/faster-recommendation.png" alt="Recommendation System">
        <img src="images/features/faster-traces.png" alt="Recommendation System">
        <p>Then you can use traces to identify the bottlenecks and you can apply fixes using our <a href='/academy/make-your-app-faster'>guides</a></p>
      </div>

      <div id="average-latency" name="average-latency" class="feature col-md-8 col-md-offset-2 panel">
        <h2>Send less data over the network</h2>
        <p>Sending more data with your publications makes your apps slower, especially for mobile networks. You can track this latency with "Network Latency".</p>
        <img src="images/features/lessdata-summary.png" alt="Average Latency" class="full">
        <p>Our recommendation system will tell you which publications you should focus on. Use our <a href="/academy/reducing-pubsub-data-usage">guides</a> to reduce the amount of data you send to improve "Network Latency".</p>
        <img src="images/features/latency-recommendation.png" alt="Recommendation System">
      </div>

      <div id="observer-reuse" name="observer-reuse" class="feature col-md-8 col-md-offset-2 panel">
        <h2>Reduce CPU and Network Usage</h2>
        <p>If you have many subscriptions, you will have many observers and they will affect the performance of the CPU and the network.</p>
        <p>However, Meteor can reuse observers for identical queries. You can track the reuse of observers directly with our dashboard.</p>
        <img src="images/features/cpuusage-summary.png" alt="Observer Reuse" class="full">
        <p>Sort publications by "Low Observer Reuse" & improve reuse with our <a href="/academy/reusing-observers-for-better-cpu-and-network-utilizations">guides</a>.</p>
        <img src="images/features/cpuusage-list.png" alt="Sorted by Observer Reuse">
      </div>

      <div id="update-ratio" name="update-ratio" class="feature col-md-8 col-md-offset-2 panel">
        <h2>Better Utilization of Server Memory</h2>
        <p>Meteor maintains a copy in memory of all your data sent to each client. This is normally not an issue, but there are certain situations you need to consider.</p>
        <p>We show you the estimated memory usage for each publication and how much of a document has been updated.</p>
        <img src="images/features/memory-summary.png" alt="Update Ratio" class="full">
        <p>Using these metrics and our <a href='/academy/how-to-optimize-memory-usage-of-your-meteor-app'>guides</a>, you can optimize the memory usage of your application.</p>
        <img src="images/features/memory-list.png" alt="Update Ratio">
      </div>

      <div id="error-tracking" name="error-tracking" class="feature col-md-8 col-md-offset-2 panel">
        <h2>Quickly Debug and Fix Errors</h2>
        <p>We have taken tracking errors to the next level. Now you can debug an error with its context and identify the root cause quickly.</p>
        <img src="images/features/debug-trace.png" alt="Debug Errors">
      </div>

      <div id="shortest-lifespan" name="shortest-lifespan" class="feature col-md-8 col-md-offset-2 panel">
        <h2>Improve User Experience</h2>
        <p>Normally, Iron Router unsubscribes all the current route's subscriptions before moving to another route. For each route change, users need to wait until the data has been returned from the server, which adds an unnecessary server load.</p>
        <p>You can track those publications by sorting "Shortest Lifespan" and use our <a href='/academyimprove-user-experience-and-reduce-subscription-rate'>guides</a> on improving this behaviour.</p>
        <img src="images/features/userexp-list.png" alt="Shortest Lifespan">
      </div>

      <div id="dashboard" name="dashboard" class="feature col-md-8 col-md-offset-2 panel">
        <h2>Real-time Performance Overview</h2>
        <p>Our real-time dashboard shows the overall performance of an app in a single view. This is perfect for a wall-mounted display.</p>
        <img src="images/features/realtime-performance-overview.png" alt="Real-time Performance Overview">
      </div>
    </div>

    <div class="connect row">
      <a href="https://ui.kadira.io/sign-up" class="btn btn-signup btn-lg">
        Connect Your App<br>
        <small>(It's Free Forever)</small>
      </a>
    </div>

  </div>

  {% include footer.html %}
</body>
</html>