<!DOCTYPE html>
<html lang='en'>
<head>
  <meta name="description" content="Kadira - Performance Monitoring for Meteor" />
  {% assign head_title = "Kadira - Performance Monitoring for Meteor" %}
  {% include head.html %}
</head>
<body>

  <div class="container">
    <div id="intro" class="row" style="margin-top: 250px;">
      <h1>Kadira - Performance Monitoring for Meteor</h1>
      <h2>Launching <a style="pointer-events: all;" href="http://www.worldtimebuddy.com/?qm=1&lid=8,2643743,1248991,1796236&h=8&date=2014-6-2&sln=9-10">June 2nd @ 9 APM PDT</a></h2>
      <img src="https://i.cloudup.com/LwrCCa_RRE.png" style="width:100%; margin-top: 100px;"></img>
    </div>
  </div>
</body>
</html>