<!DOCTYPE html>
<html lang='en'>
<head>
  <title>Kadira - Pricing</title>
  {% include head.html %}
</head>
<body>
  <!-- Header Area -->
  {% assign page_type = "pricing" %}
  {% include header.html %}

  <div class='post'>
    <div style="margin: 40px 0 20px 0">
      <div id='plan-list' class="col-md-10 col-md-offset-1">
        <div id="plan-free" class="col-xs-12 col-md-4">
          <div class="panel">
            <div class="panel-heading">Free</div>
            <div class="panel-body plan-heading">
              <p>Best for Development or a Simple app with a Single Developer</p>
            </div>
            <ul class="list-group">
              <li class="list-group-item">Access All Metrics and Graphs</li>
              <li class="list-group-item">24 Hours Data Retention</li>
              <li class="list-group-item clear">One Alert</li>
              <li class="list-group-item clear">a</li>
              <li class="list-group-item clear">a</li>
              <li class="list-group-item price-tag">Free Forever</li>
            </ul>
            <div class="panel-footer">
              <a href="https://ui.kadira.io/sign-up?plan=free" class="btn btn-block btn-plan" data-plan="free"
              onclick="return trackSignUpClick('https://ui.kadira.io/sign-up?plan=free', 'pricing', 'free');">Sign up</a>
            </div>
          </div>
        </div> <!--/plan-->
        <div id="plan-startup" class="col-xs-12 col-md-4">
          <div class="panel panel-info">
            <div class="panel-heading">StartUp</div>
            <div class="panel-body plan-heading">
              <p>Best for a Production app with a Smaller Team</p>
            </div>
            <ul class="list-group">
              <li class="list-group-item">Access All Metrics and Graphs</li>
              <li class="list-group-item"><em>2 Weeks</em> Data Retention</li>
              <li class="list-group-item"><em>10</em> Alerts</li>
              <li class="list-group-item">Share App upto <em>10</em> collaborators</li>
              <li class="list-group-item">Multi Host Support</li>
              <li class="list-group-item price-tag">$19 Per Month/Host</li>
            </ul>
            <div class="panel-footer">
              <a href="https://ui.kadira.io/sign-up?plan=startup" class="btn btn-info btn-block btn-plan" data-plan="startup"
              onclick="return trackSignUpClick('https://ui.kadira.io/sign-up?plan=startup', 'pricing', 'startup');">Sign up</a>
            </div>
          </div>
        </div> <!--/plan-->
        <div id="plan-pro" class="col-xs-12 col-md-4">
          <div class="panel panel-pro">
            <div class="panel-heading">Pro</div>
             <div class="panel-body plan-heading">
              <p>Best for a Complex Production App with a Large Team</p>
            </div>
            <ul class="list-group">
              <li class="list-group-item">Access All Metrics and Graphs</li>
              <li class="list-group-item"><em>Unlimited</em> Data Retention</li>
              <li class="list-group-item"><em>Unlimited</em> Alerts</li>
              <li class="list-group-item">Share App with <em>Unlimited</em> collaborators</li>
              <li class="list-group-item">Multi Host Support</li>
              <li class="list-group-item price-tag">$99 Per Month/Host</li>
            </ul>
            <div class="panel-footer">
              <a href="https://ui.kadira.io/sign-up?plan=pro" class="btn btn-block btn-plan btn-pro" data-plan="pro"
              onclick="return trackSignUpClick('https://ui.kadira.io/sign-up?plan=pro', 'pricing', 'pro');">Sign up</a>
            </div>
          </div>
        </div> <!--/plan-->
      </div>
    </div>

  </div>

  <div class="clearfix"></div>

  <div class='col-md-10 col-md-offset-1' id='common-questions-panel'> <!-- paid features START-->
    <h1 id='common-questions'>Common Questions</h1>

    <h3 id='pricing-model'>How our pricing model works?</h3>
    <p>
      We charge you monthly, based on your usage for each host. You assign a plan for apps created with Kadira, but not for your whole account. See this example:
    </p>
    <ul>
      <li>You've created an app with the StartUp Plan</li>
      <li>You have two hosts (instances, servos, drones or virtual machines) running throughout the month</li>
      <li>At the end of the month, you'll be billed for <b>$19 * 2</b>, since you are using 2 hosts throughout the month</li>
    </ul>
    <hr/>

    <h3 id='change-plans'>Can I change plans?</h3>
    <p>
      Of course you can change plans. We calculate your bill based on the <b>number of minutes</b> you've spent using Kadira, so you can change plans whenever you like. Most importantly, you’ll be billed only when you use Kadira.
    </p>
    <hr/>

    <h3 id='sharing'>What is sharing?</h3>
    <p>
      With our sharing feature, you can simply allow other members in your team to use Kadira Dashboard to monitor and optimize your app.
You can change the ownership to another user as well.
    </p>
    <img src='/images/pricing/sharing.png'>
    <hr/>

    <h3 id='multi-host'>What is multi host support?</h3>
    <p>
      With multi host support, you can analyze metrics by each of your hosts. This will be useful to understand how each of your server instances are performing. This is also a way to visualize the load distribution by your load balancer.
    </p>
    <img src='/images/pricing/multihost.png'>
    <hr/>

    <h3 id='data-retention'>What is Data Retention?</h3>
    <p>
      Data Rentention indicates the period of time we keep your application data with us. With a free plan you only can analyze <b>24 hours</b> of data.
    </p>
    <p>
      But with the StartUp plan, you can analyze <b>two weeks</b> of data, so you won't miss anything suspicious in your app. You can also compare the performance throughout a two week period.
    </p>
    <hr/>

    <h3 id='alers'>What are Alerts?</h3>
    <p>
      Kadira Alerts sends you a notification when something strange happens with your app. You can get alerts for almost every metric available in Kadira.
    </p>
    <img src='/images/pricing/alert.png' />
    <p>
    We do support email and webhooks as actions. You can also integrate Kadira Alerts with <a href='https://zapier.com/'>zapier</a> and get notification into your phone and trigger many other services, including your Google Glass :)
    </p>
    <a href='/blog/stay-alert-with-your-meteor-app/'><b>Learn More</b></a>
    <hr/>

    <p>
      Do you have any questions? <a href='http://support.kadira.io/'>Please ask!</a><br/>
      We are happy to help you out.
    </p>
  </div> <!-- paid features END-->

  <div class="clearfix"></div>

  {% include footer.html %}
</body>
</html>
